Django==6.0.1
djangorestframework>=3.14.0
django-extensions
django-silk>=5.2.0
djangorestframework-simplejwt
drf-spectacular
django-filter>=24.2  # Force newer version for Django 6 compat
gunicorn
whitenoise
psycopg2-binary
